body{
	position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    font-family: 'Tenali Ramakrishna', sans-serif;
    background: #DBC7B5;
    mix-blend-mode: normal;
    letter-spacing: 0.1em;
}
.row{
	margin: 2rem;
}
.form{
	position: absolute;
	top: 30px;
	left: 5rem;
	width: 500px;
	height: 500px;
}
.form .logo-header{
	position: relative;
	left: 170px;
}
.form .logo-header img{
	width: 50px;
	height: 50px;
}
.form .rec-form{
	position: relative;
	top: 20px;
	left: 50px;
	width: 400px;
}
label{
	text-transform: uppercase;
	font-weight: bold;
}
input[type="text"]{
	background: inherit;
	width: 300px;
	border: none;
	border-bottom: 1px solid #202020;
}
.form .rec-form .name-input{
	margin: 1.5rem 0px;
}
.industry-input select{
	/*position: relative;*/
	width: 310px;
    /*left: 25px;*/
    border-radius: 30px;
    height: 35px;
    background-color: #202020;
    color: #DBC7B5;
}
.form .rec-form .industry-input{
	margin-bottom: 1.5rem;
}
.service-input select{
	/*position: relative;*/
	width: 310px;
    /*left: 25px;*/
    border-radius: 30px;
    height: 35px;
    background-color: #202020;
    color: #DBC7B5;
}
input[type="submit"]{
	background-color: #202020;
	color: #DBC7B5;
	border-radius: 30px;
	height: 40px;
	border: none;
	width: 70px;
	margin-top: 0.5rem;
	position: relative;
	left: 115px;
}

.img-thumbnail{
	position: absolute;
	top: 0px;
	left: 10px;
	width: 500px;
	height: 500px;
	background-color: inherit;
	border: none;
	border-radius: 30px;	
}
.img-thumbnail img{
	border-radius: 30px;
	height: 550px;
	position: absolute;
	left: 70px;
	mix-blend-mode: darken;
}
.img-thumbnail h4{
	position: relative;
	width: 250px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	top: 170px;
	left: 125px;
}



footer a:hover{
	color: #000;
	text-decoration: none;
}
footer a{
	color: #000;
}
footer{
	position: fixed;
    margin: auto;
    padding: auto;
    font-size: 15px;
    /*border: 1px solid beige;*/
    bottom: 0;
    left: 42.5%;
}